.container {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-content: space-between;
	align-items: baseline;
	border: 1px solid #fff;
	height: 300px;
	width: 500px;
}

.container div {
	float: right;
}

.container div:nth-child(2) {
	order: -1;
}

.container div:nth-child(5) {
	order: 1;
}

.container div:nth-child(3) {
	order: 5;
}